
h5 {
  text-transform: capitalize;
}
h1 {
  display: flex;
 justify-items: center;
 align-items: center;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
span {
  text-transform: lowercase;
}
p {
  text-transform: capitalize;
}
.navbar {
  text-transform: uppercase;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-rows: auto;
grid-template-columns: 1fr 1fr;
gap: 10px;
margin-top: 10px;
}
span {
  text-transform: capitalize;
}
a {
  text-transform: capitalize;
}
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}